{% extends "geartracker/base_geartracker.html" %}

{% block title %}Categories | {{ block.super }}{% endblock %}
{% block description %}Gear categories{% endblock %}
{% block body_id %}geartracker-list-list{% endblock %}

{% block content %}
    <h1>Categories</h1>

    <ul class="categories">
    {% for category in category_list %}
        <li><a href="{% url geartracker_category_items slug=category.slug %}" title="View all gear in {{ category }}">{{ category|capfirst }}</a>
            {% if category.type_set.all %}
            <ul>
                {% for type in category.type_set.all %}
                <li><a href="{% url geartracker_type_items category=category.slug type=type.slug %}" title="View all gear in {{ type.name }}">{{ type.name|capfirst }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
