{% extends "geartracker/base_geartracker.html" %}

{% block title %}Tagged: {{ tag }}{% if is_paginated %} (Page {{ page }}){% endif %} | {{ block.super }}{% endblock %}
{% block description %}{{ item_list|length }} item{{ item_list|pluralize }} tagged with {{ tag }}{% endblock %}
{% block body_id %}geartracker-tag-list{% endblock %}
{% block entry %}

<h1>Tagged: <span class="query">{{ tag }}</span></h1>

{% include "geartracker/items_list.html" %}

{% if is_paginated %}
<ul class="page-list">
    {% for pages in page_range %}
    <li {% if page = pages %}class="current"{% endif %}><a href="{% url geartracker.views.items_by_tag slug=tag.slug page=pages %}" title="Page {{ pages }}">{{ pages }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
