{% extends "geartracker/base_geartracker.html" %}

{% block title %}{{ list }}: Gear List{% endblock %}
{% block body_class %}geartracker-list{% endblock %}
{% block body_id %}geartacker-list-{{ list.id }}{% endblock %}

{% block content %}
    <h1>{{ list }}</h1>

    {% if perms.geartracker.change_item %}
    <a title="Edit {{ list }}" class="edit" href="{% url admin:geartracker_list_change list.id %}">Edit</a>
    {% endif %}

    <p id="trip-date">
    {% spaceless %}
    {% if list.start_date = list.end_date %}
    {{ list.start_date }}
    {% else %}
    {{ list.start_date }} &#8211; {{ list.end_date }}
    {% endif %}
    {% endspaceless %}
    </p>

    {% if list.location or list.trip_report %}
    <dl>
        {% if list.location %}
        <dt>Location:</dt>
            <dd>{{ list.location|safe }}</dd>
        {% endif %}
        {% if list.trip_report %}
        <dt>Report:</dt>
            <dd><a href="{{ list.trip_report }}" title="Read the trip report">Trip Report</a></dd>
        {% endif %}
    </dl>
    {% endif %}

    <div class="list-details">
        {% if worn_items %}
        <div class="worn-items">
            <h2>Worn Items</h2>
            {% with list=worn_items metric_weight=list.worn_metric_weight imperial_weight=list.worn_imperial_weight %}
                {% include "geartracker/includes/list_table.html" %}
            {% endwith %}
        </div>
        {% endif %}

        {% if packed_items %}
        <div class="packed-items">
            <h2>Packed Items</h2>
            {% with list=packed_items metric_weight=list.packed_metric_weight imperial_weight=list.packed_imperial_weight %}
                {% include "geartracker/includes/list_table.html" %}
            {% endwith %}
        </div>
        {% endif %}

        <h2>Total Weight</h2>
        <p id="the-total">{{ list.total_metric_weight }} ({{ list.total_imperial_weight }})</p>
    </div>
{% endblock %}
