{% extends "geartracker/base_geartracker.html" %}

{% load taggit_extras %}

{% block title %}Tags | {{ block.super }}{% endblock %}
{% block description %}Gear tags{% endblock %}
{% block body_id %}geartracker-tag-list{% endblock %}

{% block content %}
    <h1>Tags</h1>

    {% get_taglist as tags for 'geartracker.item' %}
    {% if tags %}
    <ul class="tags">
        {% for tag in tags %}
            <li><a href="{% url geartracker_tag_detail slug=tag.slug %}" title="View all gear tagged with {{ tag }}">{{ tag }}</a> ({{ tag.num_times }})</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No tags available!</p>
    {% endif %}
{% endblock %}
