{% if list_list %}
<ul id="lists">
    {% for list in list_list %}
        <li>
            <h2><a href="{% url geartracker_list_detail list.slug %}" rel="bookmark" title="Link to {{ list }}">{{ list }}</a></h2>
            <dl class="list-brief">
                <dt>Date{% if list.start_date != list.end_date %}s{% endif %}</dt>
                    <dd>{% spaceless %}
                    {% if list.start_date = list.end_date %}
                    {{ list.start_date }}
                    {% else %}
                    {{ list.start_date }} &#8211; {{ list.end_date }}
                    {% endif %}
                    {% endspaceless %}</dd>
                <dt>Total Weight</dt>
                    <dd>{{ list.total_metric_weight }} ({{ list.total_imperial_weight }})</dd>
            </dl>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No gear lists available!</p>
{% endif %}

{% if is_paginated %}
<ul class="page-list">
    {% for page in paginator.page_range %}
    <li {% if page = page_obj.number %}class="current"{% endif %}><a href="{% url geartracker_item_list %}?page={{ page }}" title="Page {{ page }}">{{ page }}</a></li>
    {% endfor %}
</ul>
{% endif %}
