{% if list_list %}
<ul clas="list-list">
    {% for list in list_list %}
        <li class="list">
            <h2 class="list-title"><a href="{% url geartracker_list_detail list.slug %}" rel="bookmark" title="Link to {{ list }}">{{ list }}</a></h2>
            <dl class="list-brief">
                <dt class="list-date">Date{% if list.start_date != list.end_date %}s{% endif %}</dt>
                    <dd class="list-date">{% spaceless %}
                    {% if list.start_date = list.end_date %}
                    {{ list.start_date }}
                    {% else %}
                    {{ list.start_date }} &#8211; {{ list.end_date }}
                    {% endif %}
                    {% endspaceless %}</dd>
                <dt class="list-weight">Total Weight</dt>
                    <dd class="list-weight"><span class="list-weight-metric">{{ list.total_metric_weight }}</span> <span class="list-weight-imperial">{{ list.total_imperial_weight }}</span></dd>
            </dl>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No gear lists available!</p>
{% endif %}

{% if is_paginated %}
<ul class="page-list">
    {% for page in paginator.page_range %}
    <li {% if page = page_obj.number %}class="current"{% endif %}><a href="{% url geartracker_item_list %}?page={{ page }}" title="Page {{ page }}">{{ page }}</a></li>
    {% endfor %}
</ul>
{% endif %}
