{% if object_list %}
<ul class="item-list">
    {% for item in object_list %}
        <li class="item">
            <h2 class="item-title"><a href="{% url geartracker_item_detail item.slug %}" rel="bookmark" title="Link to {{ item }}">{{ item }}</a></h2>
            <dl class="item-brief">
                <dt class="item-weight-metric">Metric Weight</dt>
                    <dd class="item-weight-metric">{{ item.metric_weight }}</dd>
                <dt class="item-weight-imperial">Imperial Weight</dt>
                    <dd class="item-weight-imperial">{{ item.imperial_weight }}</dd>
                <dt class="item-acquired">Acquired</dt>
                    <dd class="item-acquired">{{ item.acquired }}</dd>
            </dl>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No items found!</p>
{% endif %}

{% if is_paginated %}
<ul class="page-list">
    {% for page in paginator.page_range %}
    <li {% if page = page_obj.number %}class="current"{% endif %}><a href="?page={{ page }}" title="Page {{ page }}">{{ page }}</a></li>
    {% endfor %}
</ul>
{% endif %}
