<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
    <title>{% block title %}Gear Tracker{% endblock %}</title>
    
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    {% block header %}{% endblock %}
</head>
<body{% block body_class %}{% endblock %}>

<div id="head"><a href="{% url geartracker.views.index %}" rel="index" title="Visit the front page">Gear Tracker</a></div>

<div id="content"{% block content_class %}{% endblock %}>
{% block content %}{% endblock %}
</div>

<div id="footer">
Footer
</div>

</body>
</html>
